In [2]:
# Object Oriented programming:

# Object: In object we have two things Properties and functionality.


# Properties: Attributes(variables), instance variable.

# Functionality: like function of object ex: car has colour, milege , price which are functionality of a car

In [4]:
#  Class: is a blueprint or code template for object creation.
# Object: object is instance of class.



# Properties of object --------> attributes, instance variable
# Functionality of object ----------> methods/function()

In [5]:
## when creating a class remember alwys give the class name first letter as capital when creating a class.

In [6]:
class Emp: # creating a class name Emp
    pass

In [7]:
e=Emp() # this is object of class the 'e' is object of class Emp

In [8]:
print(type(e))

<class '__main__.Emp'>

In [9]:
class Robot:
    
    def introduce_self(self):
        print("my name is " + self.name)

In [10]:
r1=Robot() # --r1 is object of class "Robot".

In [11]:
r1.name='abc'

In [12]:
r1.introduce_self()

my name is abc

In [13]:
r2.name = "xyz"

NameError: name 'r2' is not defined

In [14]:
r2 = Robot()

In [15]:
r2.name='xyz'

In [17]:
r2.introduce_self()

my name is xyz

In [18]:
class Robot:
    
    def __init__(self,name,color,weight): # __init__ means initialize, self is pointer
        self.name=name
        self.color=color
        self.weight=weight
    
    def introduce_self(self):
        print("my name is " + self.name)

In [19]:
r1=Robot("abc","red",30)

In [20]:
r2=Robot("xyz","blue",40)

In [21]:
r1.introduce_self()

my name is abc

In [22]:
r2.introduce_self()

my name is xyz

In [25]:
r1.weight

30

In [26]:
r1.color

'red'

In [27]:
r2.name

'xyz'

In [28]:
r2.weight

40

In [31]:
class Person:
    
    def __init__(self,name,gender,profession):
        self.name=name
        self.gender=gender
        self.profession=profession
    
    
    def show(self):
        print("Name", self.name, "Gender",self.gender, "Profession", self.profession)
        
    def work(self):
        print(self.name, 'working as a', self.profession)

In [32]:
o1 = Person("anand","male","engineer")

In [33]:
o1.show()

Name anand Gender male Profession engineer

In [34]:
o1.work()

anand working as a engineer

In [35]:
o2 = Person("aman","male","student")

In [36]:
o2.show()

Name aman Gender male Profession student

In [37]:
o2.work()

aman working as a student

In [38]:
o1.name="sagar" #name can be updated here we changer the value.

In [39]:
o1.name

'sagar'

In [40]:
o1.show()

Name sagar Gender male Profession engineer

In [41]:
class Emp:
    
    def __init__(self):
        print(id(self))
        self.age=25
        self.name="anand"
        self.salary=300000

In [42]:
e1=Emp()

140426915658288

In [43]:
e1.salary

300000

In [44]:
e1.name

'anand'

In [45]:
e1.weight=34

In [46]:
e1.weight

34

In [47]:
# Ques. - with help of class and object try to make class as circle and findout area and circumference of circle?

In [49]:
class Circle:
    
    def __init__(self,radius):
        self.radius=radius
        
    def circumfernce(self):
        return 2*3.14*self.radius
    
    def area(self):
        return 3.14*self.radius*self.radius

In [50]:
r = Circle(7)

In [51]:
r.area()

153.86

In [52]:
r.circumfernce()

43.96

In [56]:
r = Circle(10)

In [57]:
print(r.area())
print(r.circumfernce())

314.0
62.800000000000004

In [1]:
# 1. create class Bankaccount.
# 2. create constructor accountnumber, name, balance
# 3. deposit()
# 4. withrawal
# 5. display account details

In [3]:
class Bankaccount:
    
    def __init__(self,name,accountnumber,balance):
        self.name=name
        self.accountnumber=accountnumber
        self.balance= balance
        
    def deposit(self,d_amount):
        self.d_amount=d_amount
        self.balance += self.d_amount
        print(self.d_amount, 'is credited into your bank account')
        print(f'your current balance is {self.balance}')
        
    def withdraw(self,w_amount):
        self.w_amount = w_amount
        self.balance -= self.w_amount
        print(self.w_amount, 'is debited into your bank account')
        print(f'your current balance is {self.balance}')
        
    def account_details(self):
        print(f'your name is {self.name}')
        print(f'your acc number is {self.accountnumber}')
        print(f'your balance is {self.balance}')

In [6]:
ba=Bankaccount("anand", 34156, 3000)

In [7]:
ba.account_details()

your name is anand
your acc number is 34156
your balance is 3000

In [8]:
ba.deposit(5000)

5000 is credited into your bank account
your current balance is 8000

In [9]:
ba.withdraw(2500)

2500 is debited into your bank account
your current balance is 5500

In [15]:
am = Bankaccount("aman" , 45612, 87000)

In [16]:
am.account_details()

your name is aman
your acc number is 45612
your balance is 87000

In [18]:
am.balance

87000

In [19]:
am.deposit(900)

900 is credited into your bank account
your current balance is 87900

In [20]:
am.withdraw(50000)

50000 is debited into your bank account
your current balance is 37900

In [21]:
am.account_details()

your name is aman
your acc number is 45612
your balance is 37900

In [22]:
#=================-------------------=======----------ended-----------========----------====

In [22]:
##  17 december class - Class Encapsulation

In [27]:
class Car:
    pass

In [28]:
audi = Car()

In [29]:
audi.milege=10
audi.year=2010
audi.make=345
audi.model='abc'

In [30]:
audi.make

345

In [31]:
audi.milege

10

In [32]:
nano = Car()

In [33]:
nano.milege=45
nano.year=2022
nano.model="v"

In [34]:
nano.model

'v'

In [35]:
class Car:
    def __init__(self,mileage,year,make,model):
        self.mileage=mileage
        self.year=year
        self.make=make
        self.model=model

In [37]:
nano1 = Car(10,2009,45,'kjhg')
nano2 = Car(10,2009,45,'kjhg')
nano3 = Car(10,2009,45,'kjhg')
nano4 = Car(10,2009,45,'kjhg')
nano5 = Car(10,2009,45,'kjhg')

In [51]:
class Car:
    def __init__(a,m,y,ma,mo):
        a.mileage=m
        a.year=y
        a.make=ma
        a.model=mo
    def age(b,current_year):
        return current_year-b.year
    
    def mileage1(self):
        print("Print a mileage of the call", self.mileage)
        
    def __str__(c):
        return "this is from class i have created"

In [52]:
nano23 = Car(10,2005,45,"uhj")

In [45]:
nano23.age(2020)

15

In [49]:
nano23.mileage1()

Print a mileage of the call 10

In [53]:
print(nano23)

this is from class i have created

In [57]:
class Person:
    def __init__(self,first_name,last_name,age):
        self.first_name=first_name
        self.last_name=last_name
        self.age=age
        
    def __str__(self):
        return "this is the person class"

In [58]:
person=Person("anand", "jan", 24)

In [59]:
print(person)

this is the person class

In [60]:
person.first_name

'anand'

In [2]:
# Try snd except problems:

In [3]:
class Student:
    def __init__(self,name,rollno,joining_date,current_topic):
        self.name=name
        self.rollno=rollno
        self.joining_date=joining_date
        self.current_topic=current_topic
        
    def cur_topic(self):
        print("cutrrent topic in class is", self.current_topic)
    
    def str_rollno(self):
        
        try:
            if type(self.rollno)==str:
                print("do nothing")
            
            else:
                return str(self.rollno)
        except Exception as e:
            
            print("this is my error message", e)
            
    def duration(self,current_date):
        
        print("duration of student in my class is", current_date-self.joining_date)
        
    def __str__(self):
        return "this is student class"

In [4]:
s1=Student("imran",45,2007,"data science")

In [5]:
print(s1)

this is student class

In [6]:
s1.duration(2010)

duration of student in my class is 3

In [7]:
s1.str_rollno()

'45'

In [8]:
s1.cur_topic()

cutrrent topic in class is data science

In [9]:
# Creating a calculator from class and object?

In [10]:
class Calculator:
    
    def __init__(self,a,b):
        self.a=a
        self.b=b
        
    def add(self):
        return self.a + self.b
    
    def sub(self):
        return self.a - self.b
    
    def mul(self):
        return self.a*self.b
    
    def div(self):
        return self.a/self.b
    
    def __str__(self):
        print("this is my calculator")

In [11]:
c1 = Calculator(5,10)

In [12]:
c1.add()

15

In [13]:
c1.div()

0.5

In [15]:
# Default constructor: (ex:- __init__, __str__ etc. are constructors)
# The default constructor are those when python automatically inbuilt a constructor for a program.

In [16]:
# default constructor example:

class Student:
    
    def who(self):
        print("I am a student")

In [17]:
s1=Student()

In [18]:
s1.who()

I am a student

In [19]:
# Non paramtized constructor:

class Company:
    def __init__(self): #no parameter is given so non parametirzed.
        self.name="anand"
        self.address="sikar"
        
    def show(self):
        print("name", self.name,"address", self.address)

In [20]:
cmp=Company()

In [21]:
cmp.show()

name anand address sikar

In [22]:
# Parametirized constructor: all above example we have done are parametrized example.

In [28]:
class Public:
    
    def __init__(self,name,age):
        self.name=name
        self.age=age
        
    def age1(self):
        print("age1", self.age)

In [29]:
c1= Public("anand",25)

In [31]:
c1.age1()

age1 25

In [27]:
c1.name

'anand'

In [33]:
## Encapsulation: is bundling the data members and functions or bundling methods and attributes in single class.

In [34]:
## Modifiers: Access modifiers three types- 1. Private( __ ), 2. Protected( _ ), 3. Public

In [42]:
class Rectangle:
   # __length = 0
    #__breath = 0
    
    def __init__(self):
        self.length=5
        self.__breath=3
        
        print(self.length)
        print(self.__breath)

In [43]:
r1=Rectangle()

5
3

In [44]:
r1.length

5

In [45]:
r1.breath #here length is public and breath is private so  cant be accessed in object but can be seen within class r1=Rectangler().

AttributeError: 'Rectangle' object has no attribute 'breath'

In [46]:
class Rectangle:
   # __length = 0
    #__breath = 0
    
    def __init__(self):
        self.length=5   # public
        self.__breath=3 #private
        
        print(self.length)
        print(self.__breath)
    
    def show(self):
        print("this is printing private variable", self.__breath)
        
rect=Rectangle()
print(rect.length)
print(rect.__breath)

5
3
5

AttributeError: 'Rectangle' object has no attribute '__breath'

In [47]:
rect.show()

this is printing private variable 3

In [48]:
rect._Rectangle__breath

3

In [50]:
class Test:
    
    def __init__(self):
        self.a=6
        self._b=5
        self.__c=8
        
        print("public",self.a, "protected",self._b, "private", self.__c)
    
    def show(self):   # Data Mangling mrthod-1 to access private and protected. 
        
        print("protected",self._b, "private", self.__c)

In [51]:
t2=Test()

public 6 protected 5 private 8

In [52]:
t2.show()

protected 5 private 8

In [53]:
t2._Test__c # Data mangling method-2 to access private. use object._class__variable

8

In [55]:
t2._b # Data mangling to access protected. use object._variable

5

In [56]:
# ------------ This whole concept is called Encapsulation---------------======Hiding objects using methods and mangling

In [57]:
class Tyres:
    
    def __init__(self,branch,belted_bias,opt_pressure):
        self.branch=branch
        self.belted_bias=belted_bias
        self.opt_pressure=opt_pressure
        
    def __str__(self):
        return ("Tyres: \n \tBranch" + self.branch +
                "\n \t Belted_bias" + str(self.belted_bias) +
                "\n \t optimal pressure" + str(self.opt_pressure))
    
class Engine:
    def __init__(self,fuel_type,noise_level):
        self.fuel_type=fuel_type
        self.noise_level=noise_level
        
    def __str__(self):
        return ("Engine: \n \t fuel type" + self.fuel_type +
                "\n \t Noise level:" + str(self.noise_level))
    
class Body:
    def __init__(self,size):
        self.size=size
        
    def __str__(self):
        return ("Body: \n \t size:" + self.size)
    
class Car:
    
    def __init__(self,tyres,engine,body):
        
        self.tyres=tyres
        self.engine=engine
        self.body=body
        
    def __str__(self):
        return(str(self.tyres) + "\n" + str(self.engine) + "\n" + str(self.body))

In [58]:
t = Tyres("jaipur", True, 2.0)
e = Engine("Diesel",3)
b = Body("medium")

In [59]:
c = Car(t,e,b)
print(c)

Tyres:
 	Branchjaipur
 	 Belted_biasTrue
 	 optimal pressure2.0
Engine:
 	 fuel typeDiesel
 	 Noise level:3
Body:
 	 size:medium

In [61]:
print(t)

Tyres:
 	Branchjaipur
 	 Belted_biasTrue
 	 optimal pressure2.0

In [62]:
t.branch

'jaipur'

In [60]:
# this example is called encapsulation which have different classes and we grouped them and made as one we can work independently
# in different classes.